<%= navbar do %>
  <%= vertical do %>
    <a class="navbar-brand" href="<%= root_path %>">
      <%= image_tag "logo.svg", class: "img-responsive" %>
    </a>
    <%= link_to 'Brewhaha', root_path, id: "brandname" %>
  <% end %>
  <%= horizontal do %>
    <%= nav class: 'navbar-right' do %>
        <%= link_to 'View Orders', orders_order_list_path if current_user.producer? %>
        <%= link_to 'Place Order', orders_make_order_path if current_user.consumer? %>
        <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
        <%= link_to 'Profile', edit_user_registration_path %>
      <% end %>
    <% end %>
<% end %>
