!!! 5
%html
  %head
    %title Brewhaha
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body

    .container
      - if notice
        = alert_box notice, context: :success
      - if alert
        = alert_box alert, context: :danger

      = yield
