!!! 5
%html
  %head
    %title Brewhaha
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag    'landing' if controller_name == 'landing'

    = csrf_meta_tags

  %body
    - if current_user
      = render(:partial => "layouts/nav_bar") if current_user

    .container
      - if notice
        = alert_box notice, context: :success
      - if alert
        = alert_box alert, context: :danger

      = yield
