<p id="notice"><%= notice %></p>

<h1>Listing Orders</h1>

<table>
  <thead>
    <tr>
      <th>Quantity</th>
      <th>Time fulfilled</th>
      <th>Location</th>
      <th>Expiration</th>
      <th>Consumer</th>
      <th>Producer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.quantity %></td>
        <td><%= order.time_fulfilled %></td>
        <td><%= order.location %></td>
        <td><%= order.expiration %></td>
        <td><%= order.consumer_id %></td>
        <td><%= order.producer_id %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
