<h1>Orders#make_order</h1>
<p>Find me in app/views/orders/make_order.html.erb</p>
<div class="container">
  <h2>What would you like?</h2>
  <form role="form">
    <div class="form-group">
      <button id= "order-button" class="btn btn-default btn-lg" >Coffee - black</button>
      <br>
      <h3>How many would you like?</h3>
      <div class="form-group">
        <%=form_for @order do |f| %>
        <%= f.label :quantity, "Amount"%>
        <%= f.number_field :quantity, size:40 %>
        <% end %>
      </div>
      <h3>Where would you like it dropped off?</h3>
      <div class="form-group">
        <%=form_for @order do |f| %>
            <%= f.label :location, "Location"%>
            <%= f.text_field :location, size:60 %>
        <% end %>
      </div>
      <h3>What time do you want it by?</h3>
      <div class="form-group">
        <%=form_for @order do |f| %>
            <%= f.label :expiration, "Expires at"%>
            <%= f.time_field :expiration, size:40 %>
        <% end %>
      </div>
      <div>
        <%= button_to 'Submit my order!',orders_order_page_path, :class => "button", :method => :get, layout: :block, :id => "submit-order-button" %>
      </div>
    </div>
  </form>
</div>
