<h1>Orders#order_page</h1>
<p>Find me in app/views/orders/order_page.html.erb</p>


<div class="page-header">
  <h1>Open Orders (if orders are "taken" by someone remove from table)</h1>
</div>
<div class="row">
  <div class="col-md-6">
    <table class="table">
      <thead>
      <tr>
        <th>Time</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Username</th>
        <th>Order Info</th>
        <th>Location</th>
      </tr>
      </thead>

      <!-- <% @orders.each do |order| %>
        <tr>
          <td><%= order.number %></td>
          <td><%= order.consumer %></td>
          <td><%= order.consumer %>/td>
          <td><%= order.time %></td>
          <td><%= order.location %></td>
        </tr>
        <% end %>
         -->

    </table>
  </div>
