<p id="notice"><%= notice %></p>

<p>
  <strong>Quantity:</strong>
  <%= @order.quantity %>
</p>

<p>
  <strong>Time fulfilled:</strong>
  <%= @order.time_fulfilled %>
</p>

<p>
  <strong>Location:</strong>
  <%= @order.location %>
</p>

<p>
  <strong>Expiration:</strong>
  <%= @order.expiration %>
</p>

<p>
  <strong>Consumer:</strong>
  <%= @order.consumer_id %>
</p>

<p>
  <strong>Producer:</strong>
  <%= @order.producer_id %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
