<style>
    .panel-default {
        height: 450px;
        margin: 1em;
    }
    #map-canvas {
        display: block;
        height: 450px;
    }
</style>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
<script>
    var geocoder;
    var map;
    function initialize() {
        geocoder = new google.maps.Geocoder();
        var latlng = new google.maps.LatLng(39.9996319, -83.0131547);
        var mapOptions = {
            zoom: 14,
            center: latlng
        }
        map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
    }

    function codeAddress() {
        var address = this.text;
        geocoder.geocode( {address:address}, function(results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                map.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location
                });
            } else {
                alert('Geocode was not successful for the following reason: ' + status);
            }
        });
    }

    google.maps.event.addDomListener(window, 'load', initialize);

    // Wait for DOM ready to assign listeners
    $(function() {
        var locations = document.getElementsByClassName("loca");
        for(var index = 0; index < locations.length; index++) {
            locations[index].addEventListener('click', codeAddress, false);
        }
    });
</script>
<p id="notice"><%= notice %></p>
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3>Current Orders</h3>
          </div>
          <table class="table table-fixed">
            <thead>
            <tr>
              <th>Quantity</th>
              <th>Time Fulfilled</th>
              <th>Location</th>
              <th>Expiration</th>
              <% if current_user.consumer? %>
                <th>Status</th>
              <% else %>
                <th></th>
              <% end %>
            </thead>

            <tbody>
            <% @orders.each do |order| %>
                <tr>
                  <td><%= order.quantity %></td>
                  <td><%= order.time_fulfilled %></td>
                  <td><a class="loca"><%= order.location %></a></td>
                  <td><%= order.expiration %></td>
                  <% if current_user.consumer? %>
                    <td><%= order.status.titlecase %></td>
                  <% else %>
                    <td><%= button_to 'Fulfill', cart_confirm_url(order.id), :class => "button", :method => :get, context: :primary %></td>
                  <% end %>
                </tr>
            <% end %>
            </tbody>
          </table>
          <br>
          <%= link_to 'New Order', new_order_path if current_user.consumer?%>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div id="map-canvas"></div>
    </div>
</div>
