!!! 5
%html
  %head
    %title= content_for?(:title) ? "Brewhaha | " + yield(:title) : "Brewhaha"
    %meta{content: 'width: device-width, initial-scale: 1', name: 'viewport'}
    = stylesheet_link_tag    'application', media: 'all'
    = stylesheet_link_tag    'landing' if controller_name == 'landing'
    %link{:href=>"//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/sandstone/bootstrap.min.css", :rel=>"stylesheet"}
    = javascript_include_tag 'application'

    = csrf_meta_tags
  %body
    - if current_user
      = render(:partial => "layouts/nav_bar") if current_user

    .container{class: ("transparent" if content_for?(:transparent) && yield(:transparent))}
      - if notice
        = alert_box notice, context: :success
      - if alert
        = alert_box alert, context: :danger

      = yield
